@import url('https://fonts.googleapis.com/css2?family=Anton&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


////////////////////////////////
//Variables//
////////////////////////////////
$purple: #8711F6;
$DarkPurple: #40027B;
$LightPurple: #B97FF8;
$Orange: #FF8C64;

$Green: #CAFE41;
$DarkBlue: $purple;
$LightBlue: #5076F6;
$WhiteGray: #F9F9F9;

$bgWhite: #FEFEFC;
$BgBlue: #0077c9;
$BgBlack: #2c2c2c;
$BgYellow: #f9a825;
$BgDarkBlue: #1b215d;
$BgLightBlue: #d0b0f5;
$BgGreen: #468f1f;
$BgLightGreen: #00969c80;
$BgLightPurple: #d0b0f5;
$HomeHeaderLinks: #0580ec;

// Alert colors

$white: #FEFEFC;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$gray: #8d8d8d;
$lightgray: #b2b2b2;
$red: #b94a48;

////////////////////////////////
//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

html,
body {
  overflow-x: hidden;
  background-color: $purple;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

.inner-body {
  min-height: 68vh;
  background-color: $purple;
}
p {
  font-size: 1.5rem;
}
a {
  color: $Green;
}

a:hover {
  color: $Green;
  filter: brightness(80%);
}

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}
.orange-text {
  color: $Orange;
  h2 {
    color: $Orange;
  }
}
.purple-text {
  color: $purple!important;
  p {
      color: $purple!important;
  }
  a {
    color: $purple!important;
  }
  h3 {
    color: $purple!important;
  }
}
.green-text {
  color: $Green;
  a {
    color: $Green;
  }
  p {
    color: $Green;
  }
}
.bg-orange {
  background-color: $Orange;
}
.bg-white {
  background-color: $bgWhite;
}
.bg-purple {
  background-color: $purple;
}
.bg-light-purple {
  background-color: $LightPurple;
}
.bg-green {
  background-color: $Green;
}
.btn {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.75rem;
  padding: 0.25rem 1.5rem;
  border-radius: 24px;
  border: none;
}
h1, h2 {
  padding: 0;
  color: $Green;
  font-size: 2.5rem;
  font-weight: 600;
}
h2 {
  font-size: 2.5rem;
}
h1 {
  font-size: 3.5rem;
}

h3 {
  padding: 0;
  color: $Green;
  font-size: 40px;
  font-weight: 400;
}

h4 {
  padding: 0;
  color: $Green;
  font-size: 36px;
  font-weight: 400;
}

p,
li {
  color: $Orange;
  font-size: 1.5rem;
  font-weight: 400;
}
.ptb-10 {
  padding: 5rem 10rem!important;
}
.width-100 {
  width: 100%;
}
p.small-text {
  font-size: 0.8em;
}
.subtitle-size {
  font-size: 1.75rem;
  font-weight: 600;
}
.simple-content {
  ul {
    padding-left: 1em;
  }

  li {
    list-style-type: disc;
  }
}

.blue-line {
  margin-top: 5em;
  opacity: 1;
  color: $LightBlue;
}

.green-line {
  margin-top: 5em;
  opacity: 1;
  color: $Green;
}

.align-items-baseline {
  align-items: baseline;
}
.justify-self-center{
  justify-self: center;
}

@media(max-width: 992px) {
  h2 {
    font-size: 60px;
  }
}

@media(max-width: 768px) {
  h2 {
    font-size: 50px;
  }
  p,
  li {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .sponsorhip-title {
    font-size: 55px;
    text-align: center;
  }
}

::-webkit-scrollbar-track {
  background-color: $purple;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background-color: $WhiteGray;
  border-radius: 8px;
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: $Green;
}

/* Scrollbar Width */
::-webkit-scrollbar {
  width: 8px;
}
