// sponsors

@use "base";

table {
  border: solid base.$Green 1px;
}

td,
th {
  color: #ffffff;
  padding: 0.5em;
  border: base.$Green solid 1px;
}

blockquote p {
  display: flex;
  justify-content: space-around;
}

blockquote {
  text-align: -webkit-center;
}

#sponsors {
  text-align: center;
}

.sponsor-name {
  color: black;
}

/* .secondary-logo {
  height: auto;
  max-height: 100px;
  max-width: 200px;
  width: auto;
}
 */

.secondary-logo {
  height: auto;
  max-height: 100px;
  max-width: 200px;
  width: auto;
  transform: unset;
}
@media screen and (max-width: 600px) {
  .secondary-logo {
    transform: unset;
  }
}
 .home-sponsors{
    .mobile-sponsor-images {
      gap: 1rem;
      padding: 0.5rem;
      padding-bottom: 1.5rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      > a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
  }

  @media screen and (max-width: 600px) {
    .mobile-sponsor-images {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      align-items: center;
      justify-items: center;
      gap: 1rem;
    }

    .mobile-sponsor-images > a {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .mobile-sponsor-images img {
      max-width: 80%;
      height: auto;
    }
  }
}

 .venue-logo {
    height: auto;
    max-height: 200px;
    max-width: 400px;
    width: auto;
 }